version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      # - "80:80"
      - "8000:443"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./ssl:/etc/nginx/ssl:ro
      - static_volume:/app/proshield/static:ro
    depends_on:
      - backend
    restart: always
    networks:
      - proshield-network

  backend:
    build:
      context: .
      dockerfile: ./backend/dockerfiles/dockerfile-backend
    expose:
      - "8000"
    environment:
      DB_CONNECTION_STRING: postgresql://postgres:postgres@database:5432/postgres?sslmode=allow
    restart: always
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - static_volume:/app/proshield/static
    command: /bin/sh -c "alembic upgrade head && uvicorn proshield.main:app --workers 1 --host 0.0.0.0 --port 8000"
    networks:
      - proshield-network

  database:
    image: postgres:16.6
    expose:
      - "5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c listen_addresses=0.0.0.0
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - proshield-network

volumes:
  postgres_data:
  static_volume:

networks:
  proshield-network:
    driver: bridge
