{% extends "main/base.html" %} {% block title %}Модулі розрахунку{% endblock %}
{% block content %}
<h2 class="text-center">Модулі розрахунку</h2>
<p class="text-center">
  Невеликі розрахункові модулі є спрощенням реальності та призначені для
  використання, наприклад, рятувальними службами для надання приблизних оцінок.
</p>

<div class="row">
  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('square_law_view') }}">
      <div class="card h-100">
        <i class="fas fa-radiation"></i>
        <h5>Закон квадрата</h5>
        <p>Розрахунки радіаційного захисту за квадратичним законом.</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_main') }}">
      <div class="card h-100">
        <i class="fas fa-city"></i>
        <h5>Захисні споруди цивільного захисту</h5>
        <p>Розрахунок рівня захисту протирадіаційних укриттів та сховищ.</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
