{% extends "main/base.html" %} {% block title %}Модулі розрахунку{% endblock %}
{% block content %}
<h2 class="text-center">Клас сховища</h2>
<p class="text-center">Виберіть клас сховища залежно від класу споруди.</p>

<div class="row">
  <div class="col-md-3 mb-3">
    <a class="card-link" href="{{ url_for('square_law_view') }}">
      <div class="card">
        <i class="fas fa-city"></i>
        <h5>A-I</h5>
        <p>
          У межах проєктної забудови міст, віднесених до групи особливої
          важливості цивільного захисту
        </p>
      </div>
    </a>
  </div>

  <div class="col-md-3 mb-3">
    <a class="card-link" href="{{ url_for('shelter_view') }}">
      <div class="card">
        <i class="fas fa-city"></i>
        <h5>A-II</h5>
        <p>
          Окремо розташований об’єкт суб’єкта господарювання, віднесеного до
          категорії особливої важливості цивільного захисту
        </p>
      </div>
    </a>
  </div>

  <div class="col-md-3 mb-3">
    <a class="card-link" href="{{ url_for('shelter_view') }}">
      <div class="card">
        <i class="fas fa-city"></i>
        <h5>A-III</h5>
        <p>
          У межах проєктної забудови та санітарно-захисної зони атомних
          енергетичних об’єктів
        </p>
      </div>
    </a>
  </div>

  <div class="col-md-3 mb-3">
    <a class="card-link" href="{{ url_for('shelter_view') }}">
      <div class="card">
        <i class="fas fa-city"></i>
        <h5>A-IV</h5>
        <p>
          У межах проєктної забудови територій та населених пунктів, віднесених
          до відповідних груп цивільного захисту, а також за межами проєктної
          забудови та санітарно-захисної зони атомних енергетичних об’єктів у
          зонах можливих значних (сильних) руйнувань
        </p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
