{% extends "main/base.html" %} {% block title %}Модулі розрахунку{% endblock %}
{% block content %}
<h2 class="text-center">Захисні споруди цивільного захисту</h2>
<h2 class="text-center">Тип сховища</h2>

<div class="row">
  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_separate_recessed') }}">
      <div class="card h-100">
        <img
          class="mb-2"
          src="{{ url_for('static', path='assets/bunker.jpg') }}"
        />
        <h5>Окремо розташоване, заглиблене</h5>
        <p>Окремо розташоване, заглиблене</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_main') }}">
      <div class="card h-100">
        <img
          class="mb-2"
          src="{{ url_for('static', path='assets/bunker.jpg') }}"
        />
        <h5>Окремо розташоване, обваловане</h5>
        <p>Окремо розташоване, обваловане</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_main') }}">
      <div class="card h-100 card-disabled">
        <img
          class="mb-2"
          src="{{ url_for('static', path='assets/bunker.jpg') }}"
        />
        <h5>Окремо розташоване, необваловане</h5>
        <p>Окремо розташоване, необваловане</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_main') }}">
      <div class="card h-100 card-disabled">
        <img
          class="mb-2"
          src="{{ url_for('static', path='assets/bunker.jpg') }}"
        />
        <h5>Вбудоване у перший поверх</h5>
        <p>Вбудоване у перший поверх</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_main') }}">
      <div class="card h-100 card-disabled">
        <img
          class="mb-2"
          src="{{ url_for('static', path='assets/bunker.jpg') }}"
        />
        <h5>Підвальне приміщення</h5>
        <p>Підвальне приміщення</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-4">
    <a class="card-link" href="{{ url_for('shelter_main') }}">
      <div class="card h-100 card-disabled">
        <img
          class="mb-2"
          src="{{ url_for('static', path='assets/bunker.jpg') }}"
        />
        <h5>Цокольне приміщення</h5>
        <p>Цокольне приміщення</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
